{% extends 'blog/base.html' %}

{% block content %}
<h1>About Me</h1>
<p>Name: Hritik Panchasara</p>
<p>Hey! This is my successfull attempt at building a full stack web page using Python and Django2.2 for any backend functionality, and Bootstrap3.3 for the front layer.</p>
<p>For the time being, I have only enabled the admin account to make posts as I am still learning and developing this blog website. </p>
<p>I'm an undergraduate student from the University of Texas at Dallas, currently looking for SWE Internships for the upcoming summer break. Hope this website provides an insight of my skillsets and capabilities!</p>
<p>Project update: Need to add registration page for more users</p>
{% endblock %}
